.input {
  padding: 12px 20px;

  margin-top: 5px;
  border: 1px;
  outline: auto;
  outline-style: auto;
  width: 500px;
  border-radius: 20px;
}

.DivGeral {
  justify-content: center;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formLogin {
  max-width: 500px;
}
.labelLogin {
  color: black;
  font-weight: bold;
}
.botaoEntrar {
  display: flex;
  width: 300px;
  height: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #da6607;
  border-radius: 10px;

  color: black;
  font-weight: bold;

  /* margin-left: 6%; */
}
.DivBotaoLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.DivLogo {
  width: 200px;
  height: 200px;
  background-image: url("../../img/Logo-HorusV2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 768px) {
  .DivLogo {
    height: 150px;
    width: 150px;
  }
  .input {
    width: 450px;
    margin-left: 10px;
  }
  .botaoEntrar {
    width: 250px;
  }
  .labelLogin {
    margin-left: 10px;
  }
  .formLogin {
    max-width: 500px;
  }
}

@media (max-width: 425px) {
  .DivLogo {
    height: 150px;
    width: 150px;
  }
  .input {
    width: 350px;
    margin-left: 10px;
  }
  .botaoEntrar {
    width: 250px;
  }
  .labelLogin {
    margin-left: 10px;
  }
  .formLogin {
    max-width: 400px;
  }
}
@media (max-width: 320px) {
  .DivLogo {
    height: 150px;
    width: 150px;
  }
  .input {
    width: 250px;
    margin-left: 40px;
  }
  .botaoEntrar {
    width: 150px;
  }
  .labelLogin {
    margin-left: 10px;
  }
  .formLogin {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
